flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c2e0117.24a5d","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3ceb6bd9.575ad4","type":"hue-bridge","name":"Philips hue","bridge":"192.168.1.59","key":"sRrJAjhfYx9rH6l6srwJxkfSEWDkiw-eJYanw9sT","interval":"3000","disableupdates":false},{"id":"c6b963cf.15721","type":"natsio-server","name":"dev-bloomsprout-1","host":"dev-bloomsprout-1","port":"4222","json":true},{"id":"f2be5e83.d0ef8","type":"hue-bridge-node","z":"3af82246.3634ae","name":"home","bridge":"3ceb6bd9.575ad4","autoupdates":true,"skipglobalevents":false,"x":170,"y":40,"wires":[[]]},{"id":"7ad0d93c.6429d8","type":"hue-temperature","z":"3af82246.3634ae","name":"hallway","bridge":"3ceb6bd9.575ad4","sensorid":"4","skipevents":false,"universalevents":false,"x":180,"y":140,"wires":[["492e8de6.256374"]]},{"id":"e5e9ffb.c5a38","type":"hue-temperature","z":"3af82246.3634ae","name":"hugo's room","bridge":"3ceb6bd9.575ad4","sensorid":"8","skipevents":false,"universalevents":false,"x":190,"y":400,"wires":[["dce8d4ff.1471a8"]]},{"id":"7fae8ba7.30b8e4","type":"hue-motion","z":"3af82246.3634ae","name":"Hallway1-senor","bridge":"3ceb6bd9.575ad4","sensorid":"2","skipevents":false,"universalevents":false,"x":200,"y":200,"wires":[["8c60b583.997448"]]},{"id":"6e2208de.db0698","type":"hue-brightness","z":"3af82246.3634ae","name":"HallwayAmbientLight","bridge":"3ceb6bd9.575ad4","sensorid":"3","skipevents":false,"universalevents":false,"x":220,"y":260,"wires":[["c559e87e.d593c8"]]},{"id":"f83d1364.29fbe","type":"hue-brightness","z":"3af82246.3634ae","name":"HugosRoomAmbientLight","bridge":"3ceb6bd9.575ad4","sensorid":"7","skipevents":false,"universalevents":false,"x":230,"y":520,"wires":[["657ff6a3.21b128"]]},{"id":"93fa2550.826348","type":"hue-motion","z":"3af82246.3634ae","name":"HugosRoomSensor","bridge":"3ceb6bd9.575ad4","sensorid":"6","skipevents":false,"universalevents":false,"x":210,"y":460,"wires":[["604ccccc.7492b4"]]},{"id":"492e8de6.256374","type":"function","z":"3af82246.3634ae","name":"mapTempReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.celsius, \n            Unit: \"celsius\", \n            Name: \"temperature\"\n        },\n        {\n            Value: msg.payload.fahrenheit, \n            Unit: \"fahrenheit\", \n            Name: \"temperature\"\n        },\n        {\n            Value: msg.payload.deviceValue, \n            Unit: \"deviceValue\", \n            Name: \"deviceValue\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hallway-sensor-themometer\",\n        Id: \"hue-hallway-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["bdf575e8.baaa68"]]},{"id":"8c60b583.997448","type":"function","z":"3af82246.3634ae","name":"mapSensorMotionReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.active, \n            Unit: \"active\", \n            Name: \"active\"\n        },\n        {\n            Value: msg.payload.motion, \n            Unit: \"motion\", \n            Name: \"motion\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hallway-sensor-motion\",\n        Id: \"hue-hallway-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":200,"wires":[["bdf575e8.baaa68"]]},{"id":"c559e87e.d593c8","type":"function","z":"3af82246.3634ae","name":"mapAmbientLightReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.lux, \n            Unit: \"lux\", \n            Name: \"lux\"\n        },\n        {\n            Value: msg.payload.lightLevel, \n            Unit: \"lightLevel\", \n            Name: \"lightLevel\"\n        },\n        {\n            Value: msg.payload.dark, \n            Unit: \"dark\", \n            Name: \"dark\"\n        },\n        {\n            Value: msg.payload.daylight, \n            Unit: \"daylight\", \n            Name: \"daylight\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hallway-sensor-ambient-light\",\n        Id: \"hue-hallway-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["bdf575e8.baaa68"]]},{"id":"dce8d4ff.1471a8","type":"function","z":"3af82246.3634ae","name":"mapTempReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.celsius, \n            Unit: \"celsius\", \n            Name: \"temperature\"\n        },\n        {\n            Value: msg.payload.fahrenheit, \n            Unit: \"fahrenheit\", \n            Name: \"temperature\"\n        },\n        {\n            Value: msg.payload.deviceValue, \n            Unit: \"deviceValue\", \n            Name: \"deviceValue\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hugos-room-sensor-themometer\",\n        Id: \"hue-hugos-room-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":400,"wires":[["bdf575e8.baaa68"]]},{"id":"604ccccc.7492b4","type":"function","z":"3af82246.3634ae","name":"mapSensorMotionReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.active, \n            Unit: \"active\", \n            Name: \"active\"\n        },\n        {\n            Value: msg.payload.motion, \n            Unit: \"motion\", \n            Name: \"motion\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hugos-room-sensor-motion\",\n        Id: \"hue-hugos-room-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["bdf575e8.baaa68"]]},{"id":"657ff6a3.21b128","type":"function","z":"3af82246.3634ae","name":"mapAmbientLightReading","func":"const message = {\n    Timestamp: Date.now(),\n    Measurments: [\n        {\n            Value: msg.payload.lux, \n            Unit: \"lux\", \n            Name: \"lux\"\n        },\n        {\n            Value: msg.payload.lightLevel, \n            Unit: \"lightLevel\", \n            Name: \"lightLevel\"\n        },\n        {\n            Value: msg.payload.dark, \n            Unit: \"dark\", \n            Name: \"dark\"\n        },\n        {\n            Value: msg.payload.daylight, \n            Unit: \"daylight\", \n            Name: \"daylight\"\n        },\n    ],\n    Meta: {\n        Instrument: \"hue-hugos-room-sensor-ambient-light\",\n        Id: \"hue-hugos-room-sensor\",\n        Context: msg.info\n    }\n}\n\nreturn {\n    payload: message\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":520,"wires":[["bdf575e8.baaa68"]]},{"id":"bdf575e8.baaa68","type":"natsio-pub","z":"3af82246.3634ae","server":"c6b963cf.15721","subject":"metrics","message":"","x":1060,"y":340,"wires":[]}]